/* This is CSS for Responsive Portfolio */

/* Background pattern from Toptal Subtle Patterns */
body {
    background: url(../images/ignasi_pattern_s.png) repeat;
}

/* Navbar */
.navbar-brand {
    color: rgb(39, 170, 170);
    font-family: 'Playfair Display', serif;
}


/* About Me */

.container {
    margin-top: 50px;
}

#aboutme {
    font-family: 'Playfair Display', serif;
    color: rgb(39, 170, 170);
}

.aboutme {
    margin: 10px;
    padding: 30px;
    background-color: white;
    
}

.aboutme img[src="./assets/images/img.png"] {
    padding: 20px;
    float: left;
    max-width: 250px;
    height: auto;

}

/* Footer */
.footer {
    padding: 30px;
    text-align: center;
    font-size: 20px;
}


